*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 70%;
    margin: 0px auto;
}
.header{
    width: 100%;
    background-color:orange;
    height: 130px;
    position: relative;
}
.logo{
    position: absolute;
    padding: 3px;
    margin: 20px;
    left: 40px;

}
.logo img{
    border-radius: 35px;
}
.menu{
    position: absolute;
    top:90px;
    left: 140px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    padding: 2px;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 1vw;font-weight: bolder;
}
.menu ul li a:hover{
    color: aliceblue;
    font-size: 1vw;
}
.search{
    position: relative;
    position: absolute;
    left: 25%;
    top:50px;
}
.timkiem{
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 18px; 
    z-index: 1;
    color: #8e7272;
}
.search  input[type="text"]{
    width: 500px;
    padding: 10px;
    margin-right: 8px;
    border: none;
    border-radius: 8px red solid;
}
.search  input[type="submit"]{
    padding: 9px;
    border: none;
    border-radius: 8px red solid;
    background: transparent;
}
.search  input[type="submit"]:hover{
    cursor: pointer;
}
.search  a{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.search  a:hover{
    color: aliceblue;
    font-weight: bolder;
}
.icons{
    position: absolute;
    right: 200px;
    top: 100px;
}
.icons a{
    margin-right: 10px;
    padding: 5px;
    font-weight: bolder;
}
.icons a:hover{
    color: aliceblue;
    font-weight: bolder;
}
.mt{
    margin-top: 20px;
}
.mr{
    margin-right: 5px;
}
.mr20{
    margin-right:20px ;
}
.mb{
    margin-bottom: 20px;
}
.boxspfisst{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.boxsp{
    float: left;
    border-radius: 5px;
    border: 5px gainsboro solid;
    position: relative;
    height: 300px;
}
.boxsp img{
    padding: 5px;
}
.boxsp .namesp{
    text-align: center;
    padding: 5px;
    font-size: 1vw;
    color: black;
}
.boxsp .namesp a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.boxsp .pricesp{
    text-align: center;
    padding: 5px;
    font-size: 1vw;
}
.boxsp .muasp{
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
  
}

.boxsp .muasp input[type="submit"]{
    color: white;
    background-color: red;
    border: none;
    font-size: 1vw;
width: 100%;
border-radius: 10px;
border: white;
height: 30px;
font-weight: bolder;
}
.boxsp p{
    text-align: center;
}
.mt10{
    margin-top: 10px;
}
.boxsp .muasp input:hover{
    background-color: aliceblue;
    color: black;
    font-weight: bolder;
}
.allboxsp{
    width: 100%;

    
}
.allboxsp .iconshow h1{
    font-size:20px;
    color: black;
}
.allboxsp .iconshow a {
text-decoration: none;
}
.footer{
    background-color: black;
    height: 180px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}
.footer h3{
    color: aliceblue;
    font-size: 1vw;
}
.conten1{
    width: 25%;
  position: absolute;
  left: 60px;
  height: 100%;
  text-align: center;
}
.conten1 ul li{
    list-style-type: none;
    font-size: 1vw;
  padding: 10px;
   color: white;
   
}
.conten2{
    position: absolute;
    width: 25%;
    left: 430px;  height: 100%;
    text-align: center;
}
.conten2 ul li{
    list-style-type: none;
    font-size: 1vw;
   padding: 10px;
   color: white;
   
}

.conten3{
    position: absolute;
    width: 25%;
    right: 80px;
     height: 100%;
    text-align: center;
}
.conten3 ul li{
    list-style-type: none;
    font-size: 1vw;
 padding-top: 5px;
   color: white;

}

.conten1 ul li a{
    text-decoration: none;
    color: white;
}
.conten1 ul li a:hover{
    color: blue;
}
.conten2 ul li a{
    text-decoration: none;
    color: white;
}
.conten2 ul li a:hover{
    color: blue;
}
.conten3 ul li a{
    text-decoration: none;
    color: white;
}
.slideshow-container {
    width: 100%;
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 /* form chi tiết san phẩm */
 .boxctsp{
    width: 100%;
 }
.spct{
    margin-top: 20px;
    width: 100%;
    position: relative;
    height: 500px;
    border:1px solid #bbb;
}
.spct .img{
    float: left;
    width: 30%;
    height: 300px;
    margin: 50px;
}
.spct .contentsp{
    width: 60% ;
    height:auto ;
    position: absolute;
    right: 0px;
    margin: 20px;
}
.spct .contentsp h1{
    text-align: center;
    font-size: 30px;
}
.spct .contentsp .pricesp{
    text-align: center;
   
}
.spct .contentsp .motasp{
    text-align: center;
    
}
.formbl{
    border: 2px;
    width: 100%;
   
}
.spct .btcart{
    position: absolute;
    bottom: 30px;
    right: 200px;
    border-radius: 20px red solid;
}
.spct .btcart input[type="submit"]{
    color: white;
    background-color: red;
    border: none;
    font-size: 1vw;
border-radius: 10px;
border: white;
height: 40px;
font-weight: bolder;
    margin-right: 20px;
    
}
.spct .btcart input[type="submit"]:hover{
    opacity: 0.5;
}
.boxctsp .samesp{
width: 100%;
}
/* tăng giảm số luowgnj trong bảng chi tiết */
#tanggiam {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.slsp {
    height: 20px;
}
.slsp input[type="text"]{
    width: 50px;
    border: none;
}
.sl{
   width: 20%;
   
}

.mr {
    margin-right: 20px;
}
#tanggiam button {
    width: 35px;
    height: 35px;
    outline: none;
    border: 1px solid #ececec;
    background: none;
    cursor: pointer;
}

#tanggiam button:hover {
    background-color: #ececec;
}

#tanggiam button svg {
    color: #ececec;
}

#tanggiam button svg:hover {
    color: #4f4f4f;
}
#tanggiam #soluong{
    background-color: white;
}
/* #tanggiam #soluong input[type="text"]{
    width: 10px;
} */
#tanggiam #amount {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 1px solid #ececec;
}


/* dat css */
.thanhtoan{
    border:2px solid red;
    padding: 12px;
    margin-top: 32px;
}
/* gio hang */
.boxtitle {
    background-color: #EEE;
    color: #333;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
}

.mb {
    margin-bottom: 30px;
}
.row {
    float: left;
    width: 100%;
}
.formcontent input[type="text"]{
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.formtable table{
    width: 100%;
    border-collapse:collapse ;
}
.formtable table th{
    padding: 20px;
    background-color: #CCC;
}
.formtable table td{
    padding: 10px 20px;
    border: 1px #666 solid;
}
.boxcart{
    width: 100%;
}
a{
    text-decoration: none;
}
.formbt{
    float: right;
    width: 60%;
    right: 50px;
}
/* làm css về đơn hàng */
.formtk input[type="password"],
.formtk input[type="email"],
.formtk input[type="text"] {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtk input[type="checkbox"] {
    border-radius: 5px;

}
.formtk1 input[type="submit"]{
    background-color: blueviolet;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
    width:40%;
    height:60px;
    font-weight:bold;
}
.formtk1 input[type="submit"]:hover {
    background-color: #CCC;
}

.formtk input[type="submit"], 
.formtk input[type="reset"], 
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"]{
    background-color: white;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formcontent input[type="submit"]:hover,
.formtk input[type="reset"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover,
.formtk input[type="submit"]:hover {
    background-color: #CCC;
}

.formtk li a {
    color: red;
    text-decoration: none;
}

.formtk li a:hover {
    color: blue;
    text-decoration: underline;
}
.mb50{
    margin-bottom: 50px;
}
/* .dathang{
    text-align: center;
} */
.boxoder{
    width: 100%;
text-align: center;
background-color: white;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.boxoder table{
    border-spacing: 40px;
    width: 100%;

}
.boxmybill{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap:10%;
  
}
p{
    padding: 5px;
}
